[submodule ".zsh/terminal-color-theme"]
	path = .zsh/terminal-color-theme
	url = git://github.com/sona-tar/terminal-color-theme.git
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule ".vim/neobundle"]
	path = .vim/neobundle
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".vim/bundle/neobundle"]
	path = .vim/bundle/neobundle
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
